
  <header>
    <h3>Help and Support</h3>
  </header>

  <main>
    <section>
      <h4>Contact Us</h4>
      <p>If you need assistance or have any questions, please don't hesitate to contact us. You can reach us via email at <a href="mailto:pranjilgupta0216@gmail.com">pranjilgupta0216@gmail.com</a>.</p>
    </section>

    <section>
      <h2>Frequently Asked Questions (FAQs)</h2>
      <ul>
        <li><strong>Question 1:How can I place an order on EasyShop?<br></strong>
            Placing an order on EasyShop is simple. Just browse our products, 
            select the items you want to purchase, and proceed to checkout. 
            Follow the prompts to enter your shipping and payment information, 
            and your order will be placed successfully.</li>
            <br>
        <li><strong>Question 2:What payment methods do you accept? <br></strong> 
            We accept a two varieties of payment methods to make your shopping
             experience convenient. You can pay for your orders using cards or choose COD. 
            </li>
            <br>
        <li><strong>Are my personal and payment details secure on EasyShop? <br></strong> 
            Absolutely! We take the security of your personal and payment 
            information very seriously. EasyShop uses industry-standard encryption technology 
            to protect your data during transmission. Additionally, we do not store your payment
             details on our servers, ensuring your information remains safe and secure.</li>
      </ul>
    </section>
  </main>

  <footer>
    <p>&copy; 2024 EasyShop. All rights reserved.</p>
  </footer>

