<!-- hero header -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="header">
 <header id = "header" class = "vh-100" data-bs-ride = "carousel" style = "padding-top: 104px;">
  <div class = "container h-100 d-flex align-items-center carousel-inner">
      <div class = "text-center carousel-item active">
      <h2 class = "text-capitalize text-white" >Summer Collection Coming Soon! <br><br><i>EasyShop: Where Convenience Meets Quality</i></h2>
      <a routerLink="/search" class="btn btn-primary btn-lg mt-4" >Shop Now</a>

      </div>
    </div>
</header>

<!-- end of hero header -->


</div>

 <!-- special products -->
 <section id = "special" class = "py-5">
  <div class = "container">
      <div class = "title text-center py-5">
          <h2 class = "position-relative d-inline-block">Special Selection</h2>
      </div>

      <div class = "special-list row g-0" style="margin-left: 120px; margin-right: -50px;">
          <div class = "col-md-6 col-lg-4 col-xl-3 p-2">
              <div class = "special-img position-relative overflow-hidden">
                  <img src = "/assets/images/special_product_1.jpg" class = "w-100" (click)="searchProducts('Coord')">
              </div>
              <div class = "text-center">
                  <p class = "text-capitalize mt-3 mb-1">Cord Set</p>
                  <span class = "fw-bold d-block">Off 20%</span>

              </div>
          </div>

          <div class = "col-md-6 col-lg-4 col-xl-3 p-2">
              <div class = "special-img position-relative overflow-hidden">
                  <img src = "/assets/images/special_product_2.jpg" class = "w-100"v (click)="searchProducts('Coord')">
              </div>
              <div class = "text-center">
                  <p class = "text-capitalize mt-3 mb-1">kurta Cord Set</p>
                  <span class = "fw-bold d-block">Off 20%</span>

              </div>
          </div>

          <div class = "col-md-6 col-lg-4 col-xl-3 p-2">
              <div class = "special-img position-relative overflow-hidden">
                  <img src = "/assets/images/special_product_3.jpg" class = "w-100" (click)="searchProducts('Coord')">
              </div>
              <div class = "text-center">
                  <p class = "text-capitalize mt-3 mb-1">Trendy Cord Set</p>
                  <span class = "fw-bold d-block">Off 20%</span>

              </div>
          </div>

          <div class = "col-md-6 col-lg-4 col-xl-3 p-2">
              <div class = "special-img position-relative overflow-hidden">
                  <img src = "/assets/images/special_product_4.jpg" class = "w-100" (click)="searchProducts('Coord')">
              </div>
              <div class = "text-center">
                  <p class = "text-capitalize mt-3 mb-1">Cord Set Sharara</p>
                  <span class = "fw-bold d-block">Off 20%</span>

              </div>
          </div>
      </div>
  </div>
</section>
<!-- end of special products -->


<!-- about us -->
<section id = "about" class = "py-5">
  <div class = "container">
      <div class = "row gy-lg-5 align-items-center">
          <div class = "col-lg-6 order-lg-1 text-center text-lg-start">
              <div class = "title pt-3 pb-5 aboutUs">
                  <h2 class = "position-relative d-inline-block ms-4">About Us</h2>
              </div>
              <p class = "lead text-muted aboutUs">Welcome to EasyShop – your ultimate destination for hassle-free online shopping!
                 Our user-friendly interface and intuitive navigation simplify your shopping experience,
                  whether you're browsing for tech gadgets or trendy fashion items. With secure payment options and fast shipping, shop confidently knowing your satisfaction is our priority.
                   Join the EasyShop community today and discover the convenience of
                 online shopping like never before. Thank you for choosing EasyShop – where shopping is always a breeze!</p>

          </div>
          <div class = "col-lg-6 order-lg-0">
              <img src = "/assets/images/about_us.jpg" alt = "" class = "img-fluid">
          </div>
      </div>
  </div>
</section>
<!-- end of about us -->

<!-- popular -->
<section id = "popular" class = "py-5">
  <div class = "container">
      <div class = "title text-center pt-3 pb-5">
          <h2 class = "position-relative d-inline-block ms-4">Popular Of This Year</h2>
      </div>

      <div class = "row">
          <div class = "col-md-6 col-lg-4 row g-3" style="margin-left: 100px;">
              <h3 class = "fs-5" style="margin-bottom: 25px;">Top Rated</h3>
              <div class = "d-flex align-items-start justify-content-start">
                  <img src = "/assets/images/top_rated_1.jpg" alt = "" class = "img-fluid pe-3 w-25" (click)="searchProducts('shirt')">
                  <div>
                      <p class = "mb-0">Blue Shirt</p>
                        <span class="text-primary"><i class="ri-star-fill"></i></span>
                        <span class="text-primary"><i class="ri-star-fill"></i></span>
                        <span class="text-primary"><i class="ri-star-fill"></i></span>
                        <span class="text-primary"><i class="ri-star-fill"></i></span>
                        <span class="text-primary"><i class="ri-star-fill"></i></span>

                  </div>
              </div>
              <div class = "d-flex align-items-start justify-content-start">
                  <img src = "/assets/images/top_rated_2.jpg" alt = "" class = "img-fluid pe-3 w-25" (click)="searchProducts('watch')">
                  <div>
                      <p class = "mb-0">Watch</p>
                      <span class="text-primary"><i class="ri-star-fill"></i></span>
                      <span class="text-primary"><i class="ri-star-fill"></i></span>
                      <span class="text-primary"><i class="ri-star-fill"></i></span>
                      <span class="text-primary"><i class="ri-star-fill"></i></span>
                      <span class="text-primary"><i class="ri-star-half-fill"></i></span>

                  </div>
              </div>
              <div class = "d-flex align-items-start justify-content-start">
                  <img src = "/assets/images/top_rated_3.jpg" alt = "" class = "img-fluid pe-3 w-25" (click)="searchProducts('hoodie')">
                  <div>
                      <p class = "mb-0">Red Hoody</p>
                      <span class="text-primary"><i class="ri-star-fill"></i></span>
                        <span class="text-primary"><i class="ri-star-fill"></i></span>
                        <span class="text-primary"><i class="ri-star-fill"></i></span>
                        <span class="text-primary"><i class="ri-star-line"></i></span>
                        <span class="text-primary"><i class="ri-star-line"></i></span>

                  </div>
              </div>
          </div>

          <div class = "col-md-6 col-lg-4 row g-3">
              <h3 class = "fs-5" style="margin-bottom: 25px;">Best Selling</h3>
              <div class = "d-flex align-items-start justify-content-start">
                  <img src = "/assets/images/best_selling_1.jpg" alt = "" class = "img-fluid pe-3 w-25" (click)="searchProducts('party wear')">
                  <div>
                      <p class = "mb-0">Suit</p>
                      <span>Rs. 2000</span>
                  </div>
              </div>
              <div class = "d-flex align-items-start justify-content-start">
                  <img src = "/assets/images/best_selling_2.jpg" alt = "" class = "img-fluid pe-3 w-25" (click)="searchProducts('party wear')">
                  <div>
                      <p class = "mb-0">Shrug</p>
                      <span>Rs. 1200</span>
                  </div>
              </div>
              <div class = "d-flex align-items-start justify-content-start">
                  <img src = "/assets/images/best_selling_3.jpg" alt = "" class = "img-fluid pe-3 w-25" (click)="searchProducts('shirt')">
                  <div>
                      <p class = "mb-0">Grey T-Shirt</p>
                      <span>Rs. 500</span>
                  </div>
              </div>
          </div>

          <div class = "col-md-6 col-lg-4 row g-3" style="margin-right: -110px;">
              <h3 class = "fs-5" style="margin-bottom: 25px;">On Sale</h3>
              <div class = "d-flex align-items-start justify-content-start">
                  <img src = "/assets/images/on_sale_1.jpg" alt = "" class = "img-fluid pe-3 w-25">
                  <div>
                      <p class = "mb-0">Hand Beg</p>
                      <span style="color: red;">Flat 20% Off</span>
                  </div>
              </div>
              <div class = "d-flex align-items-start justify-content-start">
                  <img src = "/assets/images/on_sale_2.jpg" alt = "" class = "img-fluid pe-3 w-25">
                  <div>
                      <p class = "mb-0">Hoody</p>
                      <span style="color: red;">Flat 20% Off</span>
                  </div>
              </div>
              <div class = "d-flex align-items-start justify-content-start">
                  <img src = "/assets/images/on_sale_3.jpg" alt = "" class = "img-fluid pe-3 w-25">
                  <div>
                      <p class = "mb-0">Shoes</p>
                      <span style="color: red;">Flat 20% Off</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- end of popular -->

<!-- footer -->
<footer class = "bg-light py-5">
  <div class = "container">
      <div class = "row text-black g-4">
          <div class = "col-md-6 col-lg-3">
              <a class = "text-uppercase text-decoration-none brand text-black" href = "#" style="font-weight: bolder; margin-left: 50px;">EasyShop</a>
              <p class = "text-white text-muted mt-3" style="margin-left: 50px;">Welcome to EasyShop, your go-to <br> destination for hassle-free online <br> shopping! At EasyShop, we strive <br>to simplify your shopping exper-<br>-ience by offering a wide range <br>of quality products from trusted brands</p>
          </div>

          <div class = "col-md-6 col-lg-3"  style="margin-left: 100px; margin-right: -110px;" >
              <h5 class = "fw-dark" >Links</h5>
              <ul class = "list-unstyled">
                  <li class = "my-3">
                      <a href = "#" class = "text-white text-decoration-none text-muted">
                          <i class = "fas fa-chevron-right me-1"></i> Home
                      </a>
                  </li>
                  <li class = "my-3">
                      <a routerLink="/search" class = "text-white text-decoration-none text-muted">
                          <i class = "fas fa-chevron-right me-1"></i> Collection
                      </a>
                  </li>
                  <li class = "my-3">
                      <a href = "#" class = "text-white text-decoration-none text-muted">
                          <i class = "fas fa-chevron-right me-1"></i> Blogs
                      </a>
                  </li>
                  <li class = "my-3">
                      <a href = "#about" class = "text-white text-decoration-none text-muted">
                          <i class = "fas fa-chevron-right me-1"></i> About Us
                      </a>
                  </li>
              </ul>
          </div>

          <div class = "col-md-6 col-lg-3"  style="margin-right: 60px;" >
              <h5 class = "fw-dark mb-3" >Contact Us</h5>
              <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                  <span class = "me-3">
                      <i class = "fas fa-map-marked-alt"></i>
                  </span>
                  <span class = "fw-light">
                    Bangalore,EcoSpace 48,Bhoganhalli
                  </span>
              </div>
              <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                  <span class = "me-3">
                      <i class = "fas fa-envelope"></i>
                  </span>
                  <span class = "fw-light">
                      pranjilgupta0216&commat;gmail.com
                  </span>
              </div>
              <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                  <span class = "me-3">
                      <i class = "fas fa-phone-alt"></i>
                  </span>
                  <span class = "fw-light">
                      +91 7458005718
                  </span>
              </div>
          </div>

          <div class = "col-md-6 col-lg-3"  style="margin-right: -90px;">
              <h5 class = "fw-dark mb-3">Follow Us</h5>
              <div>
                  <ul class = "list-unstyled d-flex">
                      <li>
                          <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                              <i class = "fab fa-facebook-f"></i>
                          </a>
                      </li>
                      <li>
                          <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                              <i class = "fab fa-twitter"></i>
                          </a>
                      </li>
                      <li>
                          <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                              <i class = "fab fa-instagram"></i>
                          </a>
                      </li>
                      <li>
                          <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                              <i class = "fab fa-pinterest"></i>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- end of footer -->

