<div class="privacy-container">
    <h4>Privacy Policy</h4>
    <p>At EasyShop, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy outlines how we collect, use, and safeguard your data when you use our website.</p>
    
    <ul>
        <li>
            <h4>Information Collection</h4>
    <p>We collect personal information such as your name, email address, shipping address, and payment details when you create an account or place an order on EasyShop. We may also collect non-personal information such as your IP address and browsing behavior for analytics purposes.</p>
    </li>
    <li>
    <h4>Use of Information</h4>
    <p>We use your personal information to process orders, provide customer support, and improve our products and services. We may also use your email address to send you promotional offers and updates about EasyShop, but you can opt out of these communications at any time.</p>
</li>
<li>
    <h4>Data Security</h4>
    <p>We implement industry-standard security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. Your data is stored securely on our servers and is only accessible to authorized personnel.</p>
</li>
<li>
    <h4>Third-Party Disclosure</h4>
    <p>We do not sell, trade, or otherwise transfer your personal information to third parties without your consent, except as required by law or to facilitate order fulfillment (e.g., sharing your shipping address with our shipping partners).</p>
</li>
<li>
    <h4>Updates to Privacy Policy</h4>
    <p>We may update this Privacy Policy from time to time to reflect changes in our practices or legal requirements. We encourage you to review this page periodically for any updates. Your continued use of EasyShop constitutes acceptance of the revised Privacy Policy.</p>
    </li>
    </ul>
  </div>
  
