
<div *ngIf="errormsg" class="alert alert-danger">{{ errormsg }}</div>
<div *ngIf="success" class="success-message">
  {{ success}}
</div>

<div class="container">
  <h2>Change Password</h2>
  <div *ngIf="!passwordChanged">
    <div>
      <form (ngSubmit)="sendOTP()" #passwordResetForm="ngForm">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required [(ngModel)]="email">
          <button type="submit">Send OTP</button>
      </form>
  </div>
  <div *ngIf="otpSent">
      <form (ngSubmit)="verifyOTP()" #otpForm="ngForm">
        <label for="email">Confrm Email:</label>
        <input type="email" id="email" name="email" required [(ngModel)]="emailForReset">
          <label for="otp">Enter OTP:</label>
          <input type="text" id="otp" name="otp" required [(ngModel)]="otp">
          <button type="submit">Change Password</button>
      </form>
  </div>
</div>
  <div *ngIf="passwordChanged">
    <form (ngSubmit)="changePassword()" #resetForm="ngForm">
      <label for="email">Email:</label>
        <input type="email" id="email" name="email" required [(ngModel)]="changePasswordData.Email">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required [(ngModel)]="changePasswordData.NewPassword">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required [(ngModel)]="changePasswordData.ConfirmPassword">
        <div style="color: red;" *ngIf="resetForm.controls['newpassword'].value!==resetForm.controls['confirmPassword'].value">Password do not match</div>
        <button type="submit">Change Password</button>
    </form>
</div>
</div>

